<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{64,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{64,102}}</string>
                <key>sourceSize</key>
                <string>{86,114}</string>
            </dict>
            <key>lie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{66,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,104}}</string>
                <key>sourceSize</key>
                <string>{66,104}</string>
            </dict>
            <key>lie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{64,102}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{64,102}}</string>
                <key>sourceSize</key>
                <string>{86,114}</string>
            </dict>
            <key>lie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{66,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,104}}</string>
                <key>sourceSize</key>
                <string>{66,104}</string>
            </dict>
            <key>lie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{83,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,93}</string>
            </dict>
            <key>lie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{98,78}</string>
            </dict>
            <key>lie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>lie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{107,68}</string>
            </dict>
            <key>lie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
            <key>lie8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,78}}</string>
                <key>sourceSize</key>
                <string>{98,78}</string>
            </dict>
            <key>lie9.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{83,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,93}}</string>
                <key>sourceSize</key>
                <string>{83,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lie-ipadhd.png</string>
            <key>size</key>
            <string>{441,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fb366c19bccfa4282be9c85ddbc334c:25d5c8656f33a8fbc7ba9ec8e19e0b3d:0e091e888eb2b2254bc0ce0072f5fd01$</string>
            <key>textureFileName</key>
            <string>lie-ipadhd.png</string>
        </dict>
    </dict>
</plist>
