<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{61,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{61,49}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>lie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>lie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{61,49}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{61,49}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>lie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>lie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>lie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>lie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>lie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>lie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>lie8.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>lie9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,53}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lie.png</string>
            <key>size</key>
            <string>{454,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3646bc059b769f90e7cfff1e514dada9:936915adbf944d56c2d93968c710b1ae:0e091e888eb2b2254bc0ce0072f5fd01$</string>
            <key>textureFileName</key>
            <string>lie.png</string>
        </dict>
    </dict>
</plist>
