<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>lie1.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,2},{34,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,53}}</string>
			<key>sourceSize</key>
			<string>{34,53}</string>
		</dict>
		<key>lie2.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,2},{33,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,53}}</string>
			<key>sourceSize</key>
			<string>{33,53}</string>
		</dict>
		<key>lie3.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,2},{49,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,38}}</string>
			<key>sourceSize</key>
			<string>{49,38}</string>
		</dict>
		<key>lie4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{53,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,35}}</string>
			<key>sourceSize</key>
			<string>{53,35}</string>
		</dict>
		<key>lie5.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,2},{51,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,35}}</string>
			<key>sourceSize</key>
			<string>{51,35}</string>
		</dict>
		<key>lie6.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,2},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>lie7.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,2},{38,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,49}}</string>
			<key>sourceSize</key>
			<string>{38,49}</string>
		</dict>
		<key>lie8.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,2},{34,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,53}}</string>
			<key>sourceSize</key>
			<string>{34,53}</string>
		</dict>
		<key>lie9.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,2},{34,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,53}}</string>
			<key>sourceSize</key>
			<string>{34,53}</string>
		</dict>
		<key>lie10.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,2},{34,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,53}}</string>
			<key>sourceSize</key>
			<string>{34,53}</string>
		</dict>
		<key>lie11.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,2},{34,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,53}}</string>
			<key>sourceSize</key>
			<string>{34,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lie.png</string>
		<key>size</key>
		<string>{308,57}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9a1263dbe813c90c8edf2393fe446b6f:79d27b42b6b61a4cab87f94bab579a8c:0e091e888eb2b2254bc0ce0072f5fd01$</string>
		<key>textureFileName</key>
		<string>lie.png</string>
	</dict>
</dict>
</plist>
