<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,27}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>lie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>lie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,27}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,27}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>lie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{17,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,26}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>lie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>lie4.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>lie5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>lie6.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>lie7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{26,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,17}}</string>
                <key>sourceSize</key>
                <string>{26,17}</string>
            </dict>
            <key>lie8.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>lie9.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lie.png</string>
            <key>size</key>
            <string>{124,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fb366c19bccfa4282be9c85ddbc334c:25d5c8656f33a8fbc7ba9ec8e19e0b3d:0e091e888eb2b2254bc0ce0072f5fd01$</string>
            <key>textureFileName</key>
            <string>lie.png</string>
        </dict>
    </dict>
</plist>
