<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_shot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot10.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot11.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2156,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2515,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2515,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2515,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2874,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot6.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot7.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot8.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot9.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_shot-ipadhd.png</string>
            <key>size</key>
            <string>{3233,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:879aea9ffe8f82e083bb1b532cd336b6:4b54ae90455ec7cc37d8297ae6ac91ba:9f11c539f28b74db58f63b3e6b97a9c1$</string>
            <key>textureFileName</key>
            <string>boss_shot-ipadhd.png</string>
        </dict>
    </dict>
</plist>
