<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_shot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot10.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,153}}</string>
                <key>sourceSize</key>
                <string>{425,153}</string>
            </dict>
            <key>boss_shot12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2224,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2583,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2583,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2583,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2942,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot6.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot7.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot8.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
            <key>boss_shot9.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{357,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,153}}</string>
                <key>sourceSize</key>
                <string>{357,153}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_shoot-ipadhd.png</string>
            <key>size</key>
            <string>{3301,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62eeb939f809917962521316622e706e:3536ce83c60981e4f452c928558018b8:fe2107e069eac5ae5600d6ee06095a75$</string>
            <key>textureFileName</key>
            <string>boss_shoot-ipadhd.png</string>
        </dict>
    </dict>
</plist>
