<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit11.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit14.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit8.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
            <key>boss_hit9.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,190}}</string>
                <key>sourceSize</key>
                <string>{160,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_hit-ipadhd.png</string>
            <key>size</key>
            <string>{974,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe30f301fa366049c822c835e0006938:4d648faeb43e41e47a0507f8b62a33a9:cdeabe56fd16f851a24c02919e8cce7c$</string>
            <key>textureFileName</key>
            <string>boss_hit-ipadhd.png</string>
        </dict>
    </dict>
</plist>
