<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{47,47}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{47,47}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{33,43}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{33,43}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{35,43}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{35,43}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,47}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{61,47}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{55,47}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{55,47}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>hit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{57,47}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{57,47}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>hit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{57,47}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{57,47}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>hit8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{33,49}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{33,49}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>hit9.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{43,45}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{43,45}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ch_hit.png</string>
            <key>size</key>
            <string>{457,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43b3bbfc40fe3ff6103a77b758d3176c:4d1328fcb1b92424c81b0ee601dc926e:1886353c0f5af725e601906f4c4ff2dc$</string>
            <key>textureFileName</key>
            <string>ch_hit.png</string>
        </dict>
    </dict>
</plist>
