<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_hit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit7.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit8.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
            <key>role_hit9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{157,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,136}}</string>
                <key>sourceSize</key>
                <string>{157,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_hit-ipadhd.png</string>
            <key>size</key>
            <string>{554,161}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ccfe9bd065df3f7f9644411058cb33:573ad3d824e29b854ec9a67a1bab4960:99c7e3fa20aacf9e9dbf283a56165e68$</string>
            <key>textureFileName</key>
            <string>role_hit-ipadhd.png</string>
        </dict>
    </dict>
</plist>
