<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,149},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,149},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
            <key>role_run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{94,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,145}}</string>
                <key>sourceSize</key>
                <string>{94,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_run-ipadhd.png</string>
            <key>size</key>
            <string>{482,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da0a755a27f9f9a08110d437233ab200:522ead1953a13f600bdfc4714fd70059:87b16824d6cd4076582c64ce4aac1ff6$</string>
            <key>textureFileName</key>
            <string>role_run-ipadhd.png</string>
        </dict>
    </dict>
</plist>
