<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,227}}</string>
                <key>sourceSize</key>
                <string>{425,227}</string>
            </dict>
            <key>role_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{425,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,227}}</string>
                <key>sourceSize</key>
                <string>{425,227}</string>
            </dict>
            <key>role_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{425,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,227}}</string>
                <key>sourceSize</key>
                <string>{425,227}</string>
            </dict>
            <key>role_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,2},{425,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,227}}</string>
                <key>sourceSize</key>
                <string>{425,227}</string>
            </dict>
            <key>role_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,2},{425,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,227}}</string>
                <key>sourceSize</key>
                <string>{425,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_down-ipadhd.png</string>
            <key>size</key>
            <string>{2137,231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50fa4cdbd82746dd5764b5401635bf28:0be89aed0542b9f1eb5b59eb9f03b446:13c52c6a92af93e08c8d32e4d03c45aa$</string>
            <key>textureFileName</key>
            <string>role_down-ipadhd.png</string>
        </dict>
    </dict>
</plist>
