<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_role_down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{53,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,57}}</string>
                <key>sourceSize</key>
                <string>{53,57}</string>
            </dict>
            <key>red_role_special1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,80},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>red_role_special10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>red_role_special11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>red_role_special12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>red_role_special13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>red_role_special14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>red_role_special15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>red_role_special16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,76}}</string>
                <key>sourceSize</key>
                <string>{71,76}</string>
            </dict>
            <key>red_role_special2.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,135},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>red_role_special3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,190},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>red_role_special4.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,245},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>red_role_special5.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,300},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>red_role_special6.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,355},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>red_role_special7.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,410},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>red_role_special8.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,504},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
            <key>red_role_special9.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,598},{92,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,53}}</string>
                <key>sourceSize</key>
                <string>{92,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_role_special.png</string>
            <key>size</key>
            <string>{115,707}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eceeaa24dc0eb576b63393eff309c71:9313623c5e78c87dd866ddb40fe927ea:da1c6e44890404f17b3edb6a7268921a$</string>
            <key>textureFileName</key>
            <string>red_role_special.png</string>
        </dict>
    </dict>
</plist>
