<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_role_down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,563},{107,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,114}}</string>
                <key>sourceSize</key>
                <string>{107,114}</string>
            </dict>
            <key>red_role_special1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,679},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>red_role_special10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
            <key>red_role_special11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
            <key>red_role_special12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
            <key>red_role_special13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
            <key>red_role_special14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
            <key>red_role_special15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
            <key>red_role_special16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,151}}</string>
                <key>sourceSize</key>
                <string>{142,151}</string>
            </dict>
            <key>red_role_special2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,792},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>red_role_special3.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,905},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>red_role_special4.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1018},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>red_role_special5.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1131},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>red_role_special6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1244},{111,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,107}}</string>
                <key>sourceSize</key>
                <string>{111,107}</string>
            </dict>
            <key>red_role_special7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
            <key>red_role_special8.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,189},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
            <key>red_role_special9.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,376},{185,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,107}}</string>
                <key>sourceSize</key>
                <string>{185,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_role_special-hd.png</string>
            <key>size</key>
            <string>{255,1353}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1eceeaa24dc0eb576b63393eff309c71:9313623c5e78c87dd866ddb40fe927ea:da1c6e44890404f17b3edb6a7268921a$</string>
            <key>textureFileName</key>
            <string>red_role_special-hd.png</string>
        </dict>
    </dict>
</plist>
