<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>n0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{82,128}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{480,305},{82,128}}</string>
			<key>sourceSize</key>
			<string>{1044,738}</string>
		</dict>
		<key>n1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,132},{78,126}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{482,307},{78,126}}</string>
			<key>sourceSize</key>
			<string>{1044,738}</string>
		</dict>
		<key>n2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{80,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{482,306},{80,126}}</string>
			<key>sourceSize</key>
			<string>{1044,738}</string>
		</dict>
		<key>n3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,388},{82,126}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{480,306},{82,126}}</string>
			<key>sourceSize</key>
			<string>{1044,738}</string>
		</dict>
		<key>n4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,516},{78,126}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{483,307},{78,126}}</string>
			<key>sourceSize</key>
			<string>{1044,738}</string>
		</dict>
		<key>n5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{80,126}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{481,306},{80,126}}</string>
			<key>sourceSize</key>
			<string>{1044,738}</string>
		</dict>
		<key>n6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{82,126}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{480,306},{82,126}}</string>
			<key>sourceSize</key>
			<string>{1044,738}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>numbers.png</string>
		<key>size</key>
		<string>{86,900}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:16cd0be0f2a2252ae37a1028d7531ca9:0aa84603b4b778d7c0e93a8c2b3a14b0:73cfa007bc07ad091e3f0b98e5b21293$</string>
		<key>textureFileName</key>
		<string>numbers.png</string>
	</dict>
</dict>
</plist>
