<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>exp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,2},{28,31}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{28,31}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp10.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,2},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp13.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,2},{38,33}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{38,33}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp14.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,2},{38,33}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{38,33}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,2},{28,31}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{28,31}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp3.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,2},{28,33}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{28,33}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp4.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,2},{28,33}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{28,33}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp5.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,2},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{32,35}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp6.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,2},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{32,35}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp7.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,2},{36,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{36,37}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp8.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,2},{36,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{36,37}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>exp9.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,2},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explore.png</string>
		<key>size</key>
		<string>{249,43}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f2774c34de5a452c29b96fdacbc4738b:e5460ff1d30c0ad652723151f2d5dd6f:ea5bdef15d4e4ccca4660bd02bfff2f7$</string>
		<key>textureFileName</key>
		<string>explore.png</string>
	</dict>
</dict>
</plist>
