<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{107,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,114}}</string>
                <key>sourceSize</key>
                <string>{107,114}</string>
            </dict>
            <key>role_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>role_run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_role_run-hd.png</string>
            <key>size</key>
            <string>{1091,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cc8c2afa489476bf4bcada6c3d13d51:69d506be646126d8fba1bcc435710d3d:133cee695677626676f044c2b0671b95$</string>
            <key>textureFileName</key>
            <string>red_role_run-hd.png</string>
        </dict>
    </dict>
</plist>
