<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_blood0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{33,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,54}}</string>
                <key>sourceSize</key>
                <string>{33,54}</string>
            </dict>
            <key>boss_blood1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood10.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood11.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood12.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood13.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood2.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood5.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood7.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood8.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>boss_blood9.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_blood.png</string>
            <key>size</key>
            <string>{450,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c75b63d65b907042b92c35f220be1f09:409b9defd853997398dedb91384adfdd:1c593929fd05d226663a68e3205651b1$</string>
            <key>textureFileName</key>
            <string>boss_blood.png</string>
        </dict>
    </dict>
</plist>
