<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>red_role_special1.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,1344},{222,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,213}}</string>
			<key>sourceSize</key>
			<string>{222,213}</string>
		</dict>
		<key>red_role_special10.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,2},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
		<key>red_role_special11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,306},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
		<key>red_role_special12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,677},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
		<key>red_role_special13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1048},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
		<key>red_role_special14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1419},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
		<key>red_role_special15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1790},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
		<key>red_role_special16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{283,302}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,302}}</string>
			<key>sourceSize</key>
			<string>{283,302}</string>
		</dict>
		<key>red_role_special2.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,1568},{222,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,213}}</string>
			<key>sourceSize</key>
			<string>{222,213}</string>
		</dict>
		<key>red_role_special3.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,1792},{222,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,213}}</string>
			<key>sourceSize</key>
			<string>{222,213}</string>
		</dict>
		<key>red_role_special4.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,2016},{222,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,213}}</string>
			<key>sourceSize</key>
			<string>{222,213}</string>
		</dict>
		<key>red_role_special5.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,2240},{222,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,213}}</string>
			<key>sourceSize</key>
			<string>{222,213}</string>
		</dict>
		<key>red_role_special6.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,2464},{222,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,213}}</string>
			<key>sourceSize</key>
			<string>{222,213}</string>
		</dict>
		<key>red_role_special7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2161},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
		<key>red_role_special8.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,373},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
		<key>red_role_special9.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,744},{369,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,213}}</string>
			<key>sourceSize</key>
			<string>{369,213}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>red_role_special-ipadhd.png</string>
		<key>size</key>
		<string>{502,2679}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1eceeaa24dc0eb576b63393eff309c71:9313623c5e78c87dd866ddb40fe927ea:da1c6e44890404f17b3edb6a7268921a$</string>
		<key>textureFileName</key>
		<string>red_role_special-ipadhd.png</string>
	</dict>
</dict>
</plist>
