<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_role_run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
            <key>red_role_run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{170,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,213}}</string>
                <key>sourceSize</key>
                <string>{170,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>red_role_run-ipadhd.png</string>
            <key>size</key>
            <string>{1894,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdf678257d6723e781709c5304272db9:4f3d8d6eade51bd00603d3c452cf9ff7:133cee695677626676f044c2b0671b95$</string>
            <key>textureFileName</key>
            <string>red_role_run-ipadhd.png</string>
        </dict>
    </dict>
</plist>
